<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-calendar"></i>                 
      </span>
      Agenda
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview
          <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>


  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter</h4>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputUsername1">Date</label>
            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">DE</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">A</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputConfirmPassword1">Sections</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputConfirmPassword1">Matières</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputConfirmPassword1">A Faire</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputConfirmPassword1">Compte rendu</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  DE
                </th>
                <th>
                  A
                </th>
                <th>
                  Sections
                </th>
                <th>
                  Matières
                </th>
                <th>
                    A Faire
                </th>
                <th>
                    Compte rendu
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>
                  24/01/2020
                </td>
                <td>
                  14:00
                </td>
                <td>
                    17:00
                  </td>
                <td>
                    LAUNAY IMIE Fabienne
                </td>
                <td>
                    ANGLAIS
                </td>
                <td>
                    je sais pas
                </td>
                <td>
                    Aucun
                </td>
                <td>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Modifier</button>
                </td>
              </tr>

              <tr>
                
                <td>
                  24/01/2020
                </td>
                <td>
                  14:00
                </td>
                <td>
                    17:00
                  </td>
                <td>
                    LAUNAY IMIE Fabienne
                </td>
                <td>
                    ANGLAIS
                </td>
                <td>
                    je sais pas
                </td>
                <td>
                    Aucun
                </td>
                <td>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Modifier</button>
                </td>
              </tr>

              <tr>
                
                <td>
                  24/01/2020
                </td>
                <td>
                  14:00
                </td>
                <td>
                    17:00
                  </td>
                <td>
                    LAUNAY IMIE Fabienne
                </td>
                <td>
                    ANGLAIS
                </td>
                <td>
                    je sais pas
                </td>
                <td>
                    Aucun
                </td>
                <td>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Modifier</button>
                </td>
              </tr>

              <tr>
                
                <td>
                  24/01/2020
                </td>
                <td>
                  14:00
                </td>
                <td>
                    17:00
                  </td>
                <td>
                    LAUNAY IMIE Fabienne
                </td>
                <td>
                    ANGLAIS
                </td>
                <td>
                    je sais pas
                </td>
                <td>
                    Aucun
                </td>
                <td>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Modifier</button>
                </td>
              </tr>

              <tr>
                
                <td>
                  24/01/2020
                </td>
                <td>
                  14:00
                </td>
                <td>
                    17:00
                  </td>
                <td>
                    LAUNAY IMIE Fabienne
                </td>
                <td>
                    ANGLAIS
                </td>
                <td>
                    je sais pas
                </td>
                <td>
                    Aucun
                </td>
                <td>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Modifier</button>
                </td>
              </tr>

             

              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>